.nav-container {
    background-color: rgb(0, 165, 230);
    width: 73%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 120px;
    height: 40px;
}


.nav-container h5 {
    font-size: 30px;
    color: aliceblue;
    margin-left: 20px;
}


.nav-container a {
    color: aliceblue;
}

.nav-container button {
    background-color: #88888800;
    border: none;
    color: aliceblue;
}

.nav-container button:focus {
    border: none;
    outline: 0 !important;
}

.nav-container button:hover {
    color: aliceblue;
    text-decoration: underline;
}

@media screen and (max-width: 1000px) {
    .carousel-inner {
        width: 100% !important;
        height: 250px !important;
    }
    .carousel-item img {
        height: 100% !important;
    }
    .carousel-arrow-left img {
        margin-top: 100px !important;
        width: 25px !important;
        height: 40px !important;
    }
    .carousel-arrow-right img {
        margin-top: 100px !important;
        width: 25px !important;
        height: 40px !important;
        margin-left: 90% !important;
    }
    .banner {
        height: 60px !important;
        width: 60% !important;
        margin-top: 170px !important;
    }
    .banner h5 {
        position: absolute !important;
        font-size: 25px !important;
        margin-top: 9px !important;
        margin-left: 18px !important;
    }
}

@media screen and (max-width: 1400px) {
    .nav-container {
        display: none;
    }
}

@media screen and (min-width: 700px) and (max-width: 1400px) {
    .carousel-inner {
        width: 100% !important;
        height: 350px !important;
    }
    .carousel-arrow-left img {
        margin-top: 150px !important;
        width: 30px !important;
        height: 45px !important;
    }
    .carousel-arrow-right img {
        margin-top: 150px !important;
        width: 30px !important;
        height: 45px !important;
        margin-left: 95% !important;
    }
    .banner {
        height: 90px !important;
        width: 50% !important;
        margin-top: 230px !important;
    }
    .banner h5 {
        position: absolute !important;
        font-size: 45px !important;
        margin-top: 12px !important;
        margin-left: 18px !important;
    }
}

.carousel-inner {
    width: 73%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
    display: flex;
}

.carousel-arrow-left img {
    width: 30px;
    position: absolute;
    margin-left: 15px;
    margin-top: 150px;
}

.carousel-arrow-right img {
    width: 30px;
    position: absolute;
    margin-left: 1070px;
    margin-top: 150px;
}

.carousel-item img {
    width: 100%;
    height: 400px;
}

.banner {
    width: 50%;
    position: absolute;
    height: 100px;
    background-color: rgba(188, 206, 245, 0.466);
    margin-top: 270px;
    margin-left: 30px;
}

.banner h5 {
    font-size: 40px;
    margin-left: 30px;
    margin-top: 20px;
}

@media screen and (max-width: 1400px) {
    .article-overview-container {
        height: 1450px !important;
    }
    .article-overview {
        display: table !important;
        margin-left: auto !important;
        margin-right: auto !important;
    }
    .article-overview-center {
        margin-top: 30px !important;
    }
    
}

.article-overview-container {
    margin-top: 55px;
    width: 100%;
    background-color: rgba(185, 185, 185, 0.377);
    height: 470px;
}


.article-overview {
    padding-top: 25px;
    margin-left: 200px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
    grid-row-gap: 2rem;
    grid-column-gap: 40px;
}

.article-overview-center {
    display: flex;
    width: 350px;
    height: 420px;
    background-color: rgb(248, 248, 248);

}

.article-overview-center img {
    width: 100%;
    height: 250px;
    padding: 15px;
}

.article-overview-center h5 {
    position: absolute;
    padding-top: 250px;
    padding-left: 30px;
}

.article-overview-center p {
    position: absolute;
    width: 300px;
    padding-top: 280px;
    padding-left: 30px;
}

.article-overview-center-link {
    position: absolute;
    margin-top: 355px;
    margin-left: 30px;
}

.show-line {
    width: 170px;
    height: 3px;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    background-color: dimgrey;
}

@media screen and (max-width: 1400px) {
    .admiral-overview {
        display: table !important;
        margin-left: auto !important;
        margin-right: auto !important;
    }
    .admiral-overview-center {
        margin-top: 30px !important;
    }
    .about-container {
        height: 450px !important;
        margin-bottom: 250px !important;
    }
    .about-container p {
        padding-left: 23% !important;
        width: 95% !important;
    }
    .about-button {
        margin-left: 23% !important;
    }
}

.admiral-overview {
    padding-top: 40px;
    margin-left: 160px;
    margin-bottom: 30px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
    grid-row-gap: 2rem;
    grid-column-gap: 40px;
}

.admiral-overview-center {
    display: flex;
    width: 210px;
    height: 460px;
    background-color: rgb(255, 255, 255);
    border-style: solid;
    border-width: 1.5px;
    border-color: rgb(100, 111, 114);
}

.admiral-overview-center img {
    width: 100%;
    height: 240px;
    padding: 10px;
}

.admiral-overview-center h5 {
    position: absolute;
    padding-left: 10px;
    padding-top: 250px;
    width: 230px;
}

.admiral-overview-center-link {
    position: absolute;
    margin-left: 10px;
    margin-top: 405px;

}


.admiral-overview-center p {
    position: absolute;
    padding-left: 10px;
    padding-top: 310px;
    width: 204px;
    font-size: 18px;
    font-weight: 330;
}

.about-container {
    margin-top: 30px;
    width: 90%;
    background-color: rgb(255, 255, 255);
    height: 335px;
}

.about-container p {
    font-size: 24px;
    padding-top: 70px;
    padding-left: 200px;
    width: 95%;
}

.about-button {
    margin-top: 20px;
    margin-left: 200px;
}

@media screen and (min-width: 1400px) {
    .timeline-button {
        display: none !important;
    }
}


@media screen and (max-width: 1400px) {
    .timeline {
        display: none !important;
    }
    .timeline-button {
        text-align: center !important;
        margin-top: 50px !important;
    }
}

.timeline-vertical {
    display: flex;
    margin-top: 100px;
    width: 3px;
    height: 1100px;
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(0, 165, 230); 
}

.timeline {
    display: flex;
    margin-top: 90px;
    margin-bottom: 450px;
    width: 90%;
    height: 3px;
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(0, 165, 230);
}


.timeline-date-line {
    width: 3.5px;
    height: 10px;
    margin-left: 8.5px;
    margin-top: -15px;
    background-color: rgb(0, 165, 230);
}

.timeline-date-line-vertical {
    width: 10px;
    height: 3.5px;
    margin-top: 8px;
    margin-left: -20px;
    background-color: rgb(0, 165, 230);
}

.timeline-date {
    margin-top: -50px;
}

.timeline-date-vertical {
    margin-left: -85px;
    margin-top: -15px;
}

.timeline-point {
    position: absolute;
    margin-top: -8px;
    height: 20px;
    width: 20px;
    border-radius: 100px;
    background-color: rgb(0, 165, 230);

}

.timeline-point-vertical {
    position: absolute;
    margin-top: -8px;
    margin-left: -8px;
    height: 20px;
    width: 20px;
    border-radius: 100px;
    background-color: rgb(0, 165, 230);
}


.timeline-container {
    margin-left: -50px;
    margin-top: 60px;
    display: flex;
    width: 500px;
    height: 400px;
    background-color: rgb(255, 255, 255);
    border-style: solid;
    border-width: 1.5px;
    border-color: rgb(100, 111, 114);
}

.timeline-container-vertical {
    margin-left: 15px;
    margin-top: 10px;
    display: flex;
    width: 230px;
    height: 220px;
    background-color: rgb(255, 255, 255);
    border-style: solid;
    border-width: 1.5px;
    border-color: rgb(100, 111, 114);
}

.timeline-container img {
    width: 100%;
    height: 240px;
    padding: 20px;
}

.timeline-container-vertical img {
    width: 100%;
    height: 140px;
    padding: 5px;
}

.timeline-container h5 {
    position: absolute;
    padding-left: 20px;
    padding-top: 250px;
    width: 400px;
}

.timeline-container-vertical h5 {
    position: absolute;
    padding-left: 5px;
    padding-top: 150px;
    width: 400px;
}

.timeline-container p {
    position: absolute;
    padding-left: 20px;
    padding-top: 290px;
    width: 400px;
}

.timeline-container-vertical p {
    position: absolute;
    padding-left: 5px;
    padding-top: 180px;
    width: 400px;
}

@media screen and (max-width: 1400px) {
    .footer-container {
        height: 40px !important;
    }
    .footer-container h5 {
        margin-top: 9px !important;
        font-size: 20px !important;
        width: 100% !important;
    }
}

.footer-container {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
    margin-top: 180px;
    width: 73%;
    height: 50px;
    background-color: rgb(0, 165, 230);
}

.footer-container h5 {
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
    color: aliceblue;
}

@media screen and (max-width: 1400px) {
    .detail-container {
        margin: 20px !important;
        width: 92% !important;
    }
    .detail-container h1 {
        font-size: 35px !important;
        width: 300px !important;
    }
    .share-buttons {
        margin-top: -45px !important;
        margin-left: 65% !important;
    }
    .share-buttons button {
        font-size: 20px !important;
        margin-left: -2px !important;
    }
    .share-buttons-border {
        width: 28px !important;
        height: 28px !important;
    }
    .share-buttons a {
        font-size: 20px !important;
        margin-left: 4px !important;
        margin-top: -1.8px !important;
    }
    .stars {
        margin-left: 60% !important;
    }
    .stars-container p {
        margin-left: 62% !important;
    }
    .detail-info-profile img {
        height: 50px !important;
        width: 50px !important;
    }
    .comments-container {
        width: 90% !important;
    }
    .comment-form-inner-main textarea {
        width: 400px !important;
    }
    .buttons-article button {
        margin-left: 4px !important;
        font-size: 15px !important;
    }
    .article-sidebar {
        display: none;
    }
    .like-margin {
        margin-left: 0% !important;
    }
    .detail-container-admiral p {
        width: 60% !important;
    }
}

@media screen and (max-width: 1000px) {
    .detail-container img {
        width: 100% !important;
        height: 250px !important;
    }
    .detail-info-profile img {
        height: 50px !important;
        width: 50px !important;
    }
    .detail-container-admiral img {
        width: 50% !important;
    }
}


@media screen and (min-width: 1000px) and (max-width: 1400px) {
    .detail-container img {
        width: 90% !important;
        height: 350px !important;
    }
    .detail-info-profile img {
        height: 50px !important;
        width: 50px !important;
    }
    .detail-container-admiral img {
        width: 30% !important;
    }
}

.detail-container {
    margin:60px;
    margin-top: 120px;
}

.detail-container img {
    margin-top: 30px;
    width: 950px;
    height: 500px;

}

.share-buttons {
    position: absolute;
    margin-left: 800px;
}

.share-buttons button {
    position: absolute;
    background-color: rgba(250, 235, 215, 0);
    color: rgb(0, 165, 230);
    font-size: 25px;
    border: none;
    margin-top: -3.5px;
}

.share-buttons-border {
    display: flex;
    background-color: rgba(250, 235, 215, 0);
    width: 38px;
    height: 38px;
    border-style: solid;
    border-color: rgba(131, 133, 134, 0.575);
    border-radius: 100%;
    border-width: 1px;
}


.share-buttons button:focus {
    border: none;
    outline: 0 !important;
}

.share-buttons button:hover {
    color: rgba(1, 1, 196, 0.733);
}

.share-buttons a {
    position: absolute;
    font-size: 25px;
    margin-left: 6px;
    margin-top: -0.8px;
}

.detail-container h1 {
    color: rgb(0, 165, 230);
    font-size: 80px;
}

.detail-info a {
    position: absolute;
    font-size: 33px;
    margin-left: 70px;
    margin-top: -12px;
}

.detail-info {
    display: flex;
    margin-top: 50px;
}

.detail-info-profile img {
    margin-top: -4px;
    position: absolute;
    height: 50px;
    width: 50px;
    border-radius: 100%;
}

.detail-info h6 {
    position: absolute;
    font-size: 17px;
    margin-top: 28px;
    margin-left: 70px;
}

.detail-container {
    width: 970px;
}

.detail-container p {
    font-size: 30px;
    margin-top: 100px;
}

.stars {
    display: flex;
    margin-left: 800px;
    position: absolute;
    margin-top: 30px;
}

.stars button {
    position: absolute;
    margin-top: -10px;
    margin-left: 90px;
}

.stars button:focus {
    border: none;
    outline: 0 !important;
    box-shadow: none;
}

.stars-container p {
    position: absolute;
    margin-top: -20px;
    margin-left: 817px;
}


.comments-container {
    width: 55%;
    border-style: solid;
    border-color: rgb(0, 165, 230);
}

.comments-inner p {
    font-size: 18px;
    margin-top: 10px;
    margin-left: 5px;
}

.comments-inner h4 {
    margin-top: -3px;
    margin-left: 15px;
    font-size: 25px;
}

.poll-container {
    margin-top: 20px;
}

.poll-options label {
    margin-left: 8px;
    font-size: 19px;
}
 
.poll-results-container {
    display: flex;
    width: 400px;
    height: 20px;
    background-color: rgba(114, 110, 110, 0.521);
}

.poll-results-container small {
    position: absolute;
    margin-left: 10px;
}

.comments-main {
    margin-top: 130px;
}

.comments-tag {
    display: flex;
    width: 130px;
    height: 40px;
    background-color: rgb(0, 165, 230);
}

.comments-tag small {
    position: absolute;
    margin-left: 16px;
    margin-top: 4.5px;
    color: aliceblue;
}

.comment-form {
    margin-top: 100px;
}

.comment-form-inner {
    width: 300px;
}

.form-control {
    border-style: solid;
    border-color: rgb(0, 165, 230);
}

.comment-form-inner label {
    font-size: 20px;
}

.comment-form-inner-main textarea {
    width: 500px;
}

.comment-form-inner-main label {
    font-size: 20px;
}

.comment-form-inner-main {
    margin-top: 20px;
}

.comment-form button {
    margin-top: 35px;
}

.detail-container-admiral img {
    height: 400px;
    width: 340px;
}

.detail-container-admiral p {
    font-size: 25px;
}

.detail-container-timeline img {
    height: 400px;
    width: 1000px;
}

.detail-container-timeline h1 {
    width: 700px;
}

.detail-container-timeline h5 {
    position: absolute;
    margin-top: 50px;
    margin-left: 10px;
    font-size: 25px;
}

@media screen and (max-width: 1400px) {
    .profile-header-center {
        width: 100% !important;
        height: 550px !important;
    }
    .profile-page-username h1 {
        font-size: 20px !important;
        margin-left: 20px !important;
        margin-top: -24px !important;
    }
    .profile-page-username h3 {
        font-size: 16px !important;
        width: 150px !important;
    }
    .faInfo {
        font-size: 15px !important;
    }
    .profile-page-username {
        margin-left: 20px !important;
    }
    .profile-header-center-container {
        margin-left: 60% !important;
        width: 110px !important;
        height: 110px !important;
        margin-top: 40px !important;
    }
    .profile-header-center-container img {
        width: 90px !important;
        height: 90px !important;
        
    }
    .profile-social-first {
        margin-left: 10px !important;
    }
    .profile-social-icon {
        margin-left: 10px !important;
    }
    .profile-social-second {
        margin-left: 10px !important;
        margin-top: 1px !important;
    }
    .buttons {
        display: table !important;
        margin-top: 400px !important;
        margin-left: 10px !important;
    }
    .create-button {
        margin-top: 20px !important;
        margin-left: 10px !important;
    }
    .profile-edit {
        position: absolute !important;
        margin-top: 185px !important;
        margin-left: 10px !important;
    }
    .profile-edit-p {
        position: absolute !important;
        margin-top: 370px !important;
        margin-left: 50px !important;
    }
    .share-buttons-timeline {
        margin-top: 50px !important;
    }
}

.share-buttons-timeline {
    margin-top: 30px;
}

.profile-header-center-container {
    position: absolute;
    margin-top: 30px;
    margin-bottom: 20px;
    background-color: rgba(127, 255, 212, 0);
    width: 140px;
    height: 140px;
    border-radius: 100%;
    margin-left: 560px;
    border-style: solid;
    border-color: rgb(13, 128, 136);
    display: flex;
}


.profile-header-center-container img {
    position: absolute;
    width: 120px;
    height: 120px;
    margin: 7.5px;
    border-radius: 100%;
}


.faInfo {
    font-size: 25px;
}

.profile-page-username h1 {
    position: absolute;
    font-size: 30px;
    margin-left: 40px;
    margin-top: -30px;
    font-style: italic;
    font-family: 'Times New Roman', Times, serif;
}

.profile-page-username h3 {
    margin-top: 20px;
    font-size: 20px;
}


.profile-header-center {
    display: flex;
    margin-top: 120px;
    width: 950px;
    height: 400px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 5px;
    border-style: solid;
    border-color: rgba(78, 76, 76, 0.26);
    border-width: 1px;
    box-shadow: 2px 2px 7px #888888;

}


.profile-page-username {
    margin-top: 45px;
    position: absolute;
    margin-left: 40px;
    color: rgb(61, 96, 97);
}


.profile-social-first {
    margin-left: 20px;
    margin-top: 200px;
}

.profile-social-second {
    margin-top: -73px;
    margin-left: 450px;
}

.profile-social-icon {
    margin-left: 20px;
    color: rgb(61, 96, 97); 
}

.profile-social-icon a {
    color: rgb(0, 165, 230);
}

.profile-social-icon h3 {
    position: absolute;
    font-size: 18px;
    margin-top: -23px;
    margin-left: 30px;
}

.profile-edit {
    font-size: 25px;
    margin-top: 20px;
    margin-left: 150px;
}

.profile-edit-p {
    margin-top: 38px;
    margin-left: 7px;
}

@media screen and (max-width: 1400px) {
    .profile-article {
        width: 95% !important;
        height: 550px !important;
    }
    .profile-article-img {
        display: none;
    }
    .profile-article-content h3 {
        font-size: 30px !important;
        margin-top: 355px !important;
        width: 100% !important;
    }
    .profile-article-content p {
        width: 90% !important;
        margin-top: 410px !important;
    }
    .profile-article-content {
        width: 100% !important;
    }
}

@media screen and (min-width: 1400px) {
    .profile-article-img-small {
        display: none;
    }
}

.profile-article-container {
    margin-top: 120px;
}

.profile-article {
    display: flex;
    height: 620px;
    margin-top: 40px;
    width: 750px;
    margin-left: auto;
    margin-right: auto;
    border-style: solid;
    border-color: rgba(78, 76, 76, 0.26);
    border-radius: 5px;
    border-width: 1px;
}

.profile-article-img img {
    position: absolute;
    width: 700px;
    height: 300px;
    margin-left: 25px;
    margin-top: 100px;
}

.profile-article-img-small img {
    position: absolute;
    width: 90%;
    height: 230px;
    margin-left: 10px;
    margin-top: 100px;
}

.profile-article-prof img {
    position: absolute;
    margin-left: 25px;
    margin-top: 25px;
    height: 50px;
    width: 50px;
    border-radius: 100%;
}

.profile-article-prof h3 {
    position: absolute;
    color: rgb(0, 165, 230);
    font-size: 30px;
    margin-top: 18px;
    margin-left: 90px;
}


.profile-article-prof p {
    position: absolute;
    font-size: 20px;
    margin-top: 55px;
    margin-left: 90px;
}

.profile-article-content h3 {
    position: absolute;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 40px;
    margin-top: 425px;
}

.profile-article-content p {
    width: 650px;
    margin-top: 485px;
}

.profile-article-content {
    position: absolute;
    margin-left: 25px;
}

.nav-prof {
    position: relative;
    float: right;
    margin-top: -100px;
    margin-right: 205px;
    height: 50px;
    display: flex;
    width: 250px;
    border-style: solid;
    border-color: rgb(0, 165, 230);
    border-width: 1px;
    border-radius: 5px;
}

.nav-prof img {
    position: absolute;
    height: 40px;
    width: 40px;
    border-radius: 100%;
    margin-left: 190px;
    margin-top: 4px;

}

.nav-prof h5 {
    color: rgb(0, 165, 230);
    font-size: 25px;
    position: absolute;
    margin-top: 8px;
    margin-left: 120px;
}

.nav-prof-btn {
    position: absolute;
    margin-top: 6px;
    font-size: 14px;
    margin-left: 4px;
}

.nav-search {
    position: absolute;
    display: flex;
    width: 230px;
    height: 40px;
    border-style: solid;
    margin-top: -94px;
    border-color: rgb(0, 165, 230);
    border-width: 1px;
    margin-left: 205px;
    border-radius: 5px;
    
}

.navv-container button {
    margin-top: -84.5px;
    float: right;
    margin-right: 10px;
    font-size: 25px;
    color:  rgb(0, 165, 230);
    background-color: #88888800;
    border: none;

}

.navv-container button:focus {
    outline:0 none !important;
}


@media screen and (min-width: 1400px) {
    .navv-container button {
        display: none;
    }
    .nav-profile-small {
        display: none !important;
    }
}

@media screen and (max-width: 1400px) {
    .big-screen-search {
        opacity: 0;
    }
    .nav-prof {
        display: none !important;
    }
    .navv-container h2 {
        margin-top: -93px !important;
    }
}

.small-screen-search {
    margin-left: 0 !important;
    margin-top: -10px !important;
    margin-bottom: -50px !important;
}

.nav-toggle {
    position: relative;
    margin-top: 70px;
    margin-bottom: -50px;
    width: 100%;
}

.nav-toggle a {
    margin-left: 20px;
    font-size: 20px;
}

.nav-toggle-special a {
    color: rgb(5, 135, 187);
}

.nav-toggle-special a:hover {
    text-decoration: underline;
    color: rgb(5, 135, 187);
}

.nav-toggle-logout {
    position: absolute;
    font-size: 20px;
    color: rgb(0, 165, 230);
    margin-left: 100px;
    margin-top: 5px;
}

.nav-search input {
    height: 38px;
    width: 180px;
    margin-left: 20px;
    border: none;
}


.nav-search-icon {
    color: rgb(0, 165, 230);
    font-size: 24px;
    margin-top: 7px;
    margin-left: 4px;
}

.nav-profile-small {
    display: flex;
    height: 70px;
    width: 70px;
    float: right;
    border-style: solid;
    border-width: 2px;
    border-radius: 6px;
    border-color: rgb(0, 165, 230);
    margin-top: -100px;
    margin-right: 60px;
}

.nav-profile-small img {
    height: 40px;
    width: 40px;
    position: absolute;
    border-radius: 100%;
    margin-left: 12px;
    margin-top: 3px;
}

.nav-profile-small a {
    font-size: 17px;
    margin-top: 42px;
    margin-left: 13px;
}

.buttons {
    position: absolute;
    margin-left: 180px;
    margin-top: 320px;

}

.create-button {
    background-color: rgb(91, 163, 163);
    margin-left: 20px;
    border-color: rgb(91, 163, 163);
}

.create-icon {
    margin-right: 15px;
}

.navv-container h2 {
    position: absolute;
    font-size: 45px;
    font-weight: 600;
    color: rgb(0, 165, 230);
    margin-left: 10px;
    margin-top: -105px;
}

@media screen and (max-width: 1400px) {
    .navv-container h2 {
        font-size: 40px;
    }
    .create-form {
        margin-left: 30px !important;
    }
    .create-form textarea {
        width: 400px !important; 
    }
}

.create-form {
    margin-top: 120px;
    margin-left: 60px;
}

.create-form input {
    width: 400px;
}

.create-form textarea {
    height: 100px;
    width: 600px;
}

.create-form p {
    margin-top: 10px;
}

.image-input {
    height: 45px;
}

.create-form button {
    margin-top: 30px;
}

.create-form div {
    margin-top: 17px;
}

.create-form select {
    width: 400px;
}

.password-eye {
    position: absolute;
    margin-top: -26px;
    margin-left: 420px;
}

.article-sidebar {
    margin-right: 30px;
    float: right;
    margin-top: 120px
}

.article-sidebar-inner {
    display: flex;
    margin-top: 10px;
    width: 300px;
    height: 60px;
    border-style: solid;
    border-color: rgba(78, 76, 76, 0.26);
    border-radius: 5px;
    border-width: 1px;
}

.article-sidebar-inner:hover {
    background-color: rgba(78, 76, 76, 0.26);
}

.article-sidebar-inner img {
    position: absolute;
    height: 45px;
    width: 45px;
    border-radius: 10%;
    margin-top: 7px;
    margin-left: 7px;
}

.article-sidebar-inner a {
    position: absolute;
    font-size: 26px;
    margin-top: 12px;
    margin-left: 65px;
}

.article-sidebar-inner a:hover {
    text-decoration: none;
}

@media screen and (max-width: 1400px) {
    .article-list {
        margin: 0px !important;
    }
    .search-article {
        margin: 0px !important;
        width: 100% !important;
    }
}

.article-list {
    margin: 60px;
    margin-top: 120px;
}

.buttons-article button {
    margin-left: 10px;
}

.create-poll-form button {
    position: absolute;
    margin-top: -38px;
    margin-left: 410px;
}

.create-poll-form-icon {
    color: rgb(29, 80, 100);
    font-size: 30px;
    position: absolute;
    margin-top: -34px;
    margin-left: 500px;
}

.error-page {
    margin: 60px;
    margin-top: 120px;
}

.error-page button {
    margin-top: 20px;
}

@media screen and (max-width: 1400px) {
    .about-page {
        margin: 30px!important;
    }
}

.about-page {
    margin: 60px;
    margin-top: 120px;
    width: 80%;
}

.about-page h2 {
    color: rgb(0, 165, 230);
    font-size: 58px;
}

.about-page p {
    margin-top: 30px;
    font-size: 23px;
}

.about-page h4 {
    margin-top: 60px;
    font-size: 35px;
}

.about-page a {
    color: rgb(0, 165, 230);
}

.about-page a:hover {
    text-decoration: underline;
    color: rgb(43, 108, 168);
}

















